<footer class="bg-black text-white py-10">

  <div class="max-w-6xl mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-8">

    <!-- IZQUIERDA -->
    <div class="flex flex-col items-center md:items-start gap-6">

      <!-- Logo -->
      <h1 class="text-2xl font-bold">loopstudios</h1>

      <!-- Links -->
      <nav class="flex flex-col md:flex-row gap-4 md:gap-8 text-sm">
        <a href="#" class="hover:border-b">About</a>
        <a href="#" class="hover:border-b">Careers</a>
        <a href="#" class="hover:border-b">Events</a>
        <a href="#" class="hover:border-b">Products</a>
        <a href="#" class="hover:border-b">Support</a>
      </nav>

    </div>

    <!-- DERECHA -->
    <div class="flex flex-col items-center md:items-end gap-6">

      <!-- Redes -->
      <div class="flex gap-4 text-xl">
<div class="flex gap-4">

  <img src="/images/desktop/icon-facebook.svg" class="cursor-pointer hover:opacity-70" />
  <img src="/images/desktop/icon-twitter.svg" class="cursor-pointer hover:opacity-70" />
  <img src="/images/desktop/icon-pinterest.svg" class="cursor-pointer hover:opacity-70" />
  <img src="/images/desktop/icon-instagram.svg" class="cursor-pointer hover:opacity-70" />

</div>
      </div>

      <!-- Copyright -->
      <p class="text-gray-400 text-sm text-center md:text-right">
        © 2026 Loopstudios. All rights reserved.
      </p>

    </div>

  </div>

</footer>