<section class="relative h-screen bg-[url('/images/desktop/image-hero.jpg')] bg-cover bg-center">

  <!-- Capa oscura -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Contenido -->
  <div class="relative z-10 flex items-center h-full max-w-6xl mx-auto px-6">
    
<div class="border-2 border-white p-8 md:p-12 max-w-xl">
<h2 class="text-white uppercase font-['Josefin_Sans'] font-light text-5xl md:text-6xl leading-[1.1] tracking-widest">
  Immersive <br />
  experiences <br />
  that deliver <br />
</h2>
    </div>

  </div>

</section>