---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Loopstudios</title>
  </head>
  <body class="font-['Alata']">
    <slot />
  </body>
</html>